name: PR build and test

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore src\
    - name: Build
      run: dotnet build --no-restore --configuration Release src\
    - name: Test
      run: dotnet test --no-build --configuration Release --verbosity normal src\