name: Dafda.Resilience Nuget Release

on:
  push:
    branches:
      - main
    tags:
      - "*.*.*"

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and Release NuGet package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Build package
        run: make package CONFIGURATION=Release
      - name: Push package
        if: startsWith(github.ref, 'refs/tags/')
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          echo "Pushing new release with version ${GITHUB_REF:10}..."
          make push CONFIGURATION=Release